{% extends 'base.html.twig' %}

{% block body %}
    <div id="list_user">
        <h2>Bibliothèque des Utilisateurs</h2>
        <div class="row" id="users">
            {% for user in users %}
                <div id='div-btn-user' class="col-lg-3 col-md-6 col-sm-12">
                    <a type="button" id='btn-user' class="btn btn-light center-btn" href="{{ path('listelivreUser', {id : user.id}) }}">
                        <div>
                            {% if user.logo is null %}
                                <img class="logo" src="{{ asset('build/images/user.jpeg') }}" >
                            {% else %}
                                <img class="logo" src="{{ asset('images_upload/users/' ~ user.logo) }}" >
                            {% endif %}
                        </div>
                        <div>
                            <strong>{{ user.name }} {{ user.lastname }}</strong>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}