{% extends 'base.html.twig' %}

{% block body %}
    <div id="list_user">
        <h2>Bibliothèque des Utilisateurs</h2>
        <div class="row" id="users">
            {% for user in users %}
                <div id='div-btn-user' class="col-lg-3 col-md-6 col-sm-12">
                    <a type="button" id='btn-user' class="btn btn-light center-btn" href="{{ path('listelivreUser', {id : user.id}) }}">
                            <div class="user-avatar-large mx-auto mb-3">
                                {% if user.logo %}
                                    <img src="{{ asset('uploads/avatars/' ~ user.logo) }}" alt="{{ user.username }}" class="user-avatar-img">
                                {% else %}
                                    <span class="user-avatar-initials">{{ user.name|first|upper }}{{ user.lastname|first|upper }}</span>
                                {% endif %}
                            </div>
                        <div>
                            <strong>{{ user.name }} {{ user.lastname }}</strong>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}