{% extends 'base.html.twig' %}

{% block title %}Collections - BDD-Games{% endblock %}

{% block body %}
    <div id="list_user">
        <h2 style="color: #6f42c1;"><i class="fas fa-users"></i> Collections par utilisateur</h2>
        <div class="row" id="users">
            {% for user in users %}
                <div id='div-btn-user' class="col-lg-3 col-md-6 col-sm-12">
                    <a type="button" id='btn-user' class="btn btn-light center-btn" href="{{ path('game_user', {id : user.id}) }}">
                        <div class="user-avatar-large mx-auto mb-3">
                            {% if user.logo %}
                                <img src="{{ asset('uploads/avatars/' ~ user.logo) }}" alt="{{ user.username }}" class="user-avatar-img">
                            {% else %}
                                <span class="user-avatar-initials">{{ user.name|first|upper }}{{ user.lastname|first|upper }}</span>
                            {% endif %}
                        </div>
                        <div>
                            <strong>{{ user.name }} {{ user.lastname }}</strong><br>
                            <span class="badge badge-pill px-3 py-2 mt-2" style="background-color: #6f42c1; color: white;">
                                <i class="fas fa-gamepad"></i> {{ user.gamesCount }} jeu(x)
                            </span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
