<div id="tableBook">
    <!--{% include 'includes/filtreLettreAuteur.html.twig' with {'current' : '0'}%}-->
    {% set queryParams = app.request.query.all %}
    {% set order = app.request.query.get('order') | default('') %}
    {% if order != '' and order == 'asc' %}
        {% set order = 'desc' %}
    {% else %}
        {% set order = 'asc' %}
    {% endif %}
    <table id="tableLivre" class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <th>Couverture</th>
        <th><a href="{{ path('listesLivres', queryParams|merge({'order': order, 'sort' : 'l.titre'})) }}">Titre
                {% if app.request.query.get('order') == 'asc' and app.request.query.get('sort') == 'l.titre' %}
                    <i class="fas fa-sort-up float-right"></i>
                {% elseif app.request.query.get('order') == 'desc' and app.request.query.get('sort') == 'l.titre' %}
                    <i class="fas fa-sort-down float-right"></i>
                {% else %}
                    <i class="fas fa-sort float-right"></i>
                {% endif %}
            </a>
        </th>
        <th>Auteur</th>
        <th>Maison d'édition</th>
        <th>ISBN 13</th>
        <th>Prix</th>
        </thead>
        <tbody>
        {% for livre in Listelivres %}
            <tr>
                <td style="text-align: center"><a target="_blank" href="">{% if livre.id in images|keys %}<img alt="Embedded Image" width="100" src="data:image/png;base64,{{ images[livre.id] }}" />{% endif %}</a></td>
                <td>
                    <strong>{{ livre.titre }}</strong>
                    {% if mobile %}
                        <br>{% if livre.edition %}<br>Edition : {{livre.edition.nom }}{% endif %}
                        {% if livre.isbn %}<br>ISBN : {{ livre.isbn }}{% endif %}
                        <br>PRIX : {{ livre.prixBase | format_currency('EUR')}}
                    {% endif %}
                </td>
                <td>
                    {% set nb = 0 %}
                    {% for auteur in livre.listeAuteur %}
                        {% if nb > 0 %}, {% endif %}{{ auteur.auteur.nom }}
                        {% set nb = nb + 1 %}
                    {% endfor %}
                </td>
                <td>
                    {% if livre.edition %}
                        {{ livre.edition.nom }}
                    {% endif %}
                </td>
                <td>{% if livre.isbn %}{{ livre.isbn }}{% endif %}
                </td>
                <td>{{ livre.prixBase | format_currency('EUR')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>