<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}BDD-Books{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">BDD-Books</a>
            <!--{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="btn btn-outline-primary btn-xs mr-2" href="{{ path('app_logout') }}">{{ 'Déconnexion' }}</a>
            {% else %}
                <a class="btn btn-outline-primary btn-xs mr-2" href="{{ path('app_login') }}">{{ 'Connexion' }}</a>
            {% endif %}-->
        </nav>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
